@using Microsoft.AspNetCore.Identity
@using JamWithMeSite.Areas.Identity.Data
@inject SignInManager<JamWithMeSiteUser> SignInManager
@inject UserManager<JamWithMeSiteUser> UserManager

@model IEnumerable<JamWithMeSite.Models.Musician>

@{
    ViewData["Title"] = "LocalMusicianListings";
}

<h1>Local Musician Listings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-controller="Post" asp-action="Update" asp-route-id="@item.UserId">Update Post</a>
                        <a asp-action="Details" asp-route-id="@item.UserId">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
